.goldefaultview .gameCell {
    color:#678197;
    margin: 0;
    
    background-color: white;
    border-bottom:1px solid #C0CCDF;
    border-left:1px solid #C0CCDF;
    text-align:center;
}

.goldefaultview .gameCell.extraSmall {
    padding: .1em;
}

.goldefaultview .gameCell.small {
    padding:.2em;
}

.goldefaultview .gameCell.medium {
    padding:.5em;
}

.goldefaultview .gameCell.large {
    padding:.7em;
}

.goldefaultview .gameCell.extraLarge {
    padding: 1em;
}

.goldefaultview .gameBoard {
    border-top:1px solid #C0CCDF;
    border-right:1px solid #C0CCDF;
    
    margin:1em auto;
    border-collapse:collapse;
}

.goldefaultview .gameCell.alive {
    background-color: #C0CCDF;
}

.goldefaultview .sliderWrapper {
    display: inline-block;
}

.goldefaultview .controlsLabel {
    margin: 0 0.2em 0 0.5em;

    height: 25px;
    display: inline-block;
    /* vertical-align: text-bottom; */ /* Looks better in Safari, but worse in FF :( */
}